{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    "transform-vue-jsx",
    "syntax-flow",
    "tcomb",
    "transform-flow-strip-types",
    ["tcomb", {
      "globals": [
        // flow
        {
          "Class": true
        },
        // react
        {
          "SyntheticEvent": true,
          // ...
        }
      ]
    }]
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}